<div class="col s12" id="main">
<%if(chat.length>0){%>
    <h5 class="center-align">Su conversación con el soporte</h5>
    <div class="chat">
        <%chat.forEach(message => {%>
        <div class="bubble <%=message.class%>">
            <small>
                <b><%=message.from%></b> - <%=message.date%> 
                <%if(message.status=="NEW") var color="white-text blue lighten-1"; else var color="";%>
                <div class="chip small <%=color%>"><%=message.status%></div>
            </small>
            <br>
            <%=message.text%>
        </div>
        <%});%>
    </div>
    <%}else{%>
    <p>Bienvenido al soporte, puede escribirnos para consultar sus dudas o reportar algun inconveniente, estamos atentos a su solicitud.</p>
    <%}%>
    <div class="fixed-action-btn">
        <a href="#newTicketModal" class="btn-floating btn-large waves-effect waves-light modal-trigger">
            <i class="large material-icons">create</i>
        </a>
    </div>
</div>

<div id="newTicketModal" class="modal bottom-sheet">
    <div class="modal-content">
        <p>Consultenos su duda o inconveniente, sea breve y conciso, le responderemos lo mas pronto posible.</p>
		<div class="input-field">
          <textarea id="message" class="materialize-textarea" oninput="messageLengthValidate()"></textarea>
		  <label for="message">Escriba su consulta</label>
		  <span class="helper-text">Restante: 1000</span>
    	</div>
	</div>	
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="sendMessage()" class="modal-close waves-effect waves-green btn-flat">Enviar</a>
	</div>
</div>
